<ul>
      <!-- <li>
        <a href = "{{ '/' | relative_url }}">
          홈
        </a>
      </li> -->
      <li>
        <a href = "{{ 'about/' | relative_url }}">
          About
        </a>
      </li>
      <li>
        <a href = "{{ 'weekly/' | relative_url }}">
          주간분석
        </a>
      </li>
      <li>
        <a href = "{{ 'analysis/' | relative_url }}">
          실거래분석
        </a>
      </li>
      <li>
        <a href = "{{ 'apt/' | relative_url }}">
          실거래검색
        </a>
      </li>
      <!-- <li>
        <a href = "{{ site.resume_url | relative_url }}">
          기타
        </a>
      </li> -->
</ul>