---
layout: description
title: About
pagetype: blog
---

<link rel="stylesheet" href="/assets/css/styles.css" media="all" onload="if(media!='all')media='all'">

<br><br>
<div style="font-size:medium; height: 300px; text-align: center; vertical-align: middle; ">
    내집 마련을 현명하기 위해서는 흐름을 잘 파악해야 합니다.<br>
    이곳은 10년 이상 아파트 투자를 연구하는 분들의 노하우를 공유하고자 만들었습니다.<br>
    아직 부족하지만, 많은 도움이 되도록 지속적으로 업데이트 하겠습니다.
    <br><br>
    <a href="https://t.me/seed_info_bot">여기를 눌러 텔레그램 업데이트 알림 봇을 이용하시면 매일 아침 최신 정보 알림을 받아 보실 수 있습니다</a>
</div>
