---
layout: description
title: 아파트 실거래 정보
pagetype: blog
---
<!-- This loops through the paginated posts -->

<script type="text/javascript" src="/assets/js/jquery.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
       $("tr.header").click(function () {
          $("tr.child", $(this).parent()).slideToggle({
            duration: 'fast',
            step: function() {
                if ($(this).css('display') == 'block') {
                    $(this).css('display', 'table-row');
                }
            },
            complete: function() {
                if ($(this).css('display') == 'block') {
                    $(this).css('display', 'table-row');
                }
            }
        });
       });
    });
</script>

{% if paginator.total_posts == 0 %}
    <p>No posts right now.</p>
{% else %}



<!-- need to add region selection buttons -->

<div class="area-apt-info">
    
    <a id="txt_total_update_count" style="font-size: large; font-weight: bold; margin-top: 20; margin-bottom: 10;"></a>
    <a id="txt_total_new_update_count" style="font-size: large; font-weight: normal; margin-top: 20; margin-bottom: 10;"></a>
    <a id="txt_total_new_update_count_sell" style="font-size: small; font-weight: normal; margin-top: 20; margin-bottom: 10;"></a>
    <a id="txt_total_new_update_count_rent" style="font-size: small; font-weight: normal; margin-top: 20; margin-bottom: 10;"></a>
    <a id="txt_total_new_update_count_resale" style="font-size: small; font-weight: normal; margin-top: 20; margin-bottom: 10;"></a>

</div>

<div class="area-apt-search">
    <a style="font-size: large; font-weight: bold; margin-top: 20; margin-bottom: 10;">실거래가 검색</a>
    <label class="field field_v1">
      <input class="field__input" id="search" placeholder="지역/아파트명을 입력해주세요" onkeyup="javascript:onSearchChanged()">
      <span class="field__label-wrap">
        <span class="field__label">지역/아파트명을 입력해주세요</span>
      </span>
    </label>
</div>

<!-- <input id="search" type="text" style="width: 90%;" placeholder="지역/아파트명을 입력해주세요" onblur="this.placeholder='지역/아파트명을 입력해주세요'" onfocus="this.placeholder=''" > -->
<div class='search_list' id='search_list'></div>


<br>
<div class="area-apt-analysis" style="padding: 16px;">
    <a style="font-size: large; font-weight: bold; margin-top: 5; margin-bottom: 30; padding-bottom: 10;">지역별 실거래가</a>

    <!-- start -->
    <table style="margin-top: 5px; width: 100%;">
      <colgroup>
        <col width="55%" nowrap/>
        <col width="15%" nowrap/>
        <col width="15%" nowrap/>
        <col width="15%" nowrap/>
      </colgroup>
      <tr>
        <td>지역</td>
        <td>매매</td>
        <td>전월세</td>
        <td>전매</td>
      </tr>    
       
    </table>
    <table style="width: 100%;"> 
      <colgroup>
        <col width="55%" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
      </colgroup>    
      <tr class="header">
        <td>서울특별시</td>
        <td>4</td>
        <td>1</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/서울특별시종로구">서울특별시종로구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/서울특별시중구">서울특별시중구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/서울특별시용산구">서울특별시용산구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/서울특별시성동구">서울특별시성동구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/서울특별시광진구">서울특별시광진구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/서울특별시동대문구">서울특별시동대문구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/서울특별시중랑구">서울특별시중랑구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/서울특별시성북구">서울특별시성북구</a></td>
        <td>4</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/서울특별시강북구">서울특별시강북구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/서울특별시도봉구">서울특별시도봉구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/서울특별시노원구">서울특별시노원구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/서울특별시은평구">서울특별시은평구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/서울특별시서대문구">서울특별시서대문구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/서울특별시마포구">서울특별시마포구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/서울특별시양천구">서울특별시양천구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/서울특별시강서구">서울특별시강서구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/서울특별시구로구">서울특별시구로구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/서울특별시금천구">서울특별시금천구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/서울특별시영등포구">서울특별시영등포구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/서울특별시동작구">서울특별시동작구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/서울특별시관악구">서울특별시관악구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/서울특별시서초구">서울특별시서초구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/서울특별시강남구">서울특별시강남구</a></td>
        <td>0</td>
        <td>1</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/서울특별시송파구">서울특별시송파구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/서울특별시강동구">서울특별시강동구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
       
    </table>
    <table style="width: 100%;"> 
      <colgroup>
        <col width="55%" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
      </colgroup>    
      <tr class="header">
        <td>부산광역시</td>
        <td>9</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/부산광역시중구">부산광역시중구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/부산광역시서구">부산광역시서구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/부산광역시동구">부산광역시동구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/부산광역시영도구">부산광역시영도구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/부산광역시부산진구">부산광역시부산진구</a></td>
        <td>1</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/부산광역시동래구">부산광역시동래구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/부산광역시남구">부산광역시남구</a></td>
        <td>4</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/부산광역시북구">부산광역시북구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/부산광역시해운대구">부산광역시해운대구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/부산광역시사하구">부산광역시사하구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/부산광역시금정구">부산광역시금정구</a></td>
        <td>4</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/부산광역시강서구">부산광역시강서구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/부산광역시연제구">부산광역시연제구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/부산광역시수영구">부산광역시수영구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/부산광역시사상구">부산광역시사상구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/부산광역시기장군">부산광역시기장군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
       
    </table>
    <table style="width: 100%;"> 
      <colgroup>
        <col width="55%" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
      </colgroup>    
      <tr class="header">
        <td>대구광역시</td>
        <td>1</td>
        <td>0</td>
        <td>1</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/대구광역시중구">대구광역시중구</a></td>
        <td>1</td>
        <td>0</td>
        <td>1</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/대구광역시동구">대구광역시동구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/대구광역시서구">대구광역시서구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/대구광역시남구">대구광역시남구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/대구광역시북구">대구광역시북구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/대구광역시수성구">대구광역시수성구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/대구광역시달서구">대구광역시달서구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/대구광역시달성군">대구광역시달성군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
       
    </table>
    <table style="width: 100%;"> 
      <colgroup>
        <col width="55%" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
      </colgroup>    
      <tr class="header">
        <td>인천광역시</td>
        <td>6</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/인천광역시중구">인천광역시중구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/인천광역시동구">인천광역시동구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/인천광역시미추홀구">인천광역시미추홀구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/인천광역시연수구">인천광역시연수구</a></td>
        <td>5</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/인천광역시남동구">인천광역시남동구</a></td>
        <td>1</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/인천광역시부평구">인천광역시부평구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/인천광역시계양구">인천광역시계양구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/인천광역시서구">인천광역시서구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/인천광역시강화군">인천광역시강화군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/인천광역시옹진군">인천광역시옹진군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
       
    </table>
    <table style="width: 100%;"> 
      <colgroup>
        <col width="55%" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
      </colgroup>    
      <tr class="header">
        <td>광주광역시</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/광주광역시동구">광주광역시동구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/광주광역시서구">광주광역시서구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/광주광역시남구">광주광역시남구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/광주광역시북구">광주광역시북구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/광주광역시광산구">광주광역시광산구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
       
    </table>
    <table style="width: 100%;"> 
      <colgroup>
        <col width="55%" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
      </colgroup>    
      <tr class="header">
        <td>대전광역시</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/대전광역시동구">대전광역시동구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/대전광역시중구">대전광역시중구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/대전광역시서구">대전광역시서구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/대전광역시유성구">대전광역시유성구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/대전광역시대덕구">대전광역시대덕구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
       
    </table>
    <table style="width: 100%;"> 
      <colgroup>
        <col width="55%" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
      </colgroup>    
      <tr class="header">
        <td>울산광역시</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/울산광역시중구">울산광역시중구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/울산광역시남구">울산광역시남구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/울산광역시동구">울산광역시동구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/울산광역시북구">울산광역시북구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/울산광역시울주군">울산광역시울주군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/세종특별자치시">세종특별자치시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
       
    </table>
    <table style="width: 100%;"> 
      <colgroup>
        <col width="55%" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
      </colgroup>    
      <tr class="header">
        <td>경기도</td>
        <td>5</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도수원시">경기도수원시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도수원시장안구">경기도수원시장안구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도수원시권선구">경기도수원시권선구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도수원시팔달구">경기도수원시팔달구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도수원시영통구">경기도수원시영통구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도성남시">경기도성남시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도성남시수정구">경기도성남시수정구</a></td>
        <td>3</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도성남시중원구">경기도성남시중원구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도성남시분당구">경기도성남시분당구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도의정부시">경기도의정부시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도안양시">경기도안양시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도안양시만안구">경기도안양시만안구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도안양시동안구">경기도안양시동안구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도부천시">경기도부천시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도광명시">경기도광명시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도평택시">경기도평택시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도동두천시">경기도동두천시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도안산시">경기도안산시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도안산시상록구">경기도안산시상록구</a></td>
        <td>2</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도안산시단원구">경기도안산시단원구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도고양시">경기도고양시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도고양시덕양구">경기도고양시덕양구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도고양시일산동구">경기도고양시일산동구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도고양시일산서구">경기도고양시일산서구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도과천시">경기도과천시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도구리시">경기도구리시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도남양주시">경기도남양주시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도오산시">경기도오산시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도시흥시">경기도시흥시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도군포시">경기도군포시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도의왕시">경기도의왕시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도하남시">경기도하남시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도용인시">경기도용인시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도용인시처인구">경기도용인시처인구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도용인시기흥구">경기도용인시기흥구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도용인시수지구">경기도용인시수지구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도파주시">경기도파주시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도이천시">경기도이천시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도안성시">경기도안성시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도김포시">경기도김포시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도화성시">경기도화성시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도광주시">경기도광주시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도양주시">경기도양주시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도포천시">경기도포천시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도여주시">경기도여주시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도연천군">경기도연천군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도가평군">경기도가평군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경기도양평군">경기도양평군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
       
    </table>
    <table style="width: 100%;"> 
      <colgroup>
        <col width="55%" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
      </colgroup>    
      <tr class="header">
        <td>강원도</td>
        <td>1</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/강원도춘천시">강원도춘천시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/강원도원주시">강원도원주시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/강원도강릉시">강원도강릉시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/강원도동해시">강원도동해시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/강원도태백시">강원도태백시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/강원도속초시">강원도속초시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/강원도삼척시">강원도삼척시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/강원도홍천군">강원도홍천군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/강원도횡성군">강원도횡성군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/강원도영월군">강원도영월군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/강원도평창군">강원도평창군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/강원도정선군">강원도정선군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/강원도철원군">강원도철원군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/강원도화천군">강원도화천군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/강원도양구군">강원도양구군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/강원도인제군">강원도인제군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/강원도고성군">강원도고성군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/강원도양양군">강원도양양군</a></td>
        <td>1</td>
        <td>0</td>
        <td>0</td>
      </tr>
       
    </table>
    <table style="width: 100%;"> 
      <colgroup>
        <col width="55%" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
      </colgroup>    
      <tr class="header">
        <td>충청북도</td>
        <td>1</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청북도청주시">충청북도청주시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청북도청주시상당구">충청북도청주시상당구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청북도청주시서원구">충청북도청주시서원구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청북도청주시흥덕구">충청북도청주시흥덕구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청북도청주시청원구">충청북도청주시청원구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청북도충주시">충청북도충주시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청북도제천시">충청북도제천시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청북도보은군">충청북도보은군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청북도옥천군">충청북도옥천군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청북도영동군">충청북도영동군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청북도증평군">충청북도증평군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청북도진천군">충청북도진천군</a></td>
        <td>1</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청북도괴산군">충청북도괴산군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청북도음성군">충청북도음성군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청북도단양군">충청북도단양군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
       
    </table>
    <table style="width: 100%;"> 
      <colgroup>
        <col width="55%" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
      </colgroup>    
      <tr class="header">
        <td>충청남도</td>
        <td>32</td>
        <td>0</td>
        <td>1</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청남도천안시">충청남도천안시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청남도천안시동남구">충청남도천안시동남구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청남도천안시서북구">충청남도천안시서북구</a></td>
        <td>22</td>
        <td>0</td>
        <td>1</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청남도공주시">충청남도공주시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청남도보령시">충청남도보령시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청남도아산시">충청남도아산시</a></td>
        <td>10</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청남도서산시">충청남도서산시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청남도논산시">충청남도논산시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청남도계룡시">충청남도계룡시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청남도당진시">충청남도당진시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청남도금산군">충청남도금산군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청남도부여군">충청남도부여군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청남도서천군">충청남도서천군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청남도청양군">충청남도청양군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청남도홍성군">충청남도홍성군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청남도예산군">충청남도예산군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/충청남도태안군">충청남도태안군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
       
    </table>
    <table style="width: 100%;"> 
      <colgroup>
        <col width="55%" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
      </colgroup>    
      <tr class="header">
        <td>전라북도</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라북도전주시">전라북도전주시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라북도전주시완산구">전라북도전주시완산구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라북도전주시덕진구">전라북도전주시덕진구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라북도군산시">전라북도군산시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라북도익산시">전라북도익산시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라북도정읍시">전라북도정읍시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라북도남원시">전라북도남원시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라북도김제시">전라북도김제시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라북도완주군">전라북도완주군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라북도진안군">전라북도진안군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라북도무주군">전라북도무주군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라북도장수군">전라북도장수군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라북도임실군">전라북도임실군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라북도순창군">전라북도순창군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라북도고창군">전라북도고창군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라북도부안군">전라북도부안군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
       
    </table>
    <table style="width: 100%;"> 
      <colgroup>
        <col width="55%" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
      </colgroup>    
      <tr class="header">
        <td>전라남도</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라남도목포시">전라남도목포시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라남도여수시">전라남도여수시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라남도순천시">전라남도순천시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라남도나주시">전라남도나주시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라남도광양시">전라남도광양시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라남도담양군">전라남도담양군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라남도곡성군">전라남도곡성군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라남도구례군">전라남도구례군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라남도고흥군">전라남도고흥군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라남도보성군">전라남도보성군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라남도화순군">전라남도화순군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라남도장흥군">전라남도장흥군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라남도강진군">전라남도강진군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라남도해남군">전라남도해남군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라남도영암군">전라남도영암군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라남도무안군">전라남도무안군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라남도함평군">전라남도함평군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라남도영광군">전라남도영광군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라남도장성군">전라남도장성군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라남도완도군">전라남도완도군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라남도진도군">전라남도진도군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/전라남도신안군">전라남도신안군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
       
    </table>
    <table style="width: 100%;"> 
      <colgroup>
        <col width="55%" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
      </colgroup>    
      <tr class="header">
        <td>경상북도</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상북도포항시">경상북도포항시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상북도포항시남구">경상북도포항시남구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상북도포항시북구">경상북도포항시북구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상북도경주시">경상북도경주시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상북도김천시">경상북도김천시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상북도안동시">경상북도안동시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상북도구미시">경상북도구미시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상북도영주시">경상북도영주시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상북도영천시">경상북도영천시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상북도상주시">경상북도상주시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상북도문경시">경상북도문경시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상북도경산시">경상북도경산시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상북도군위군">경상북도군위군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상북도의성군">경상북도의성군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상북도청송군">경상북도청송군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상북도영양군">경상북도영양군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상북도영덕군">경상북도영덕군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상북도청도군">경상북도청도군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상북도고령군">경상북도고령군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상북도성주군">경상북도성주군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상북도칠곡군">경상북도칠곡군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상북도예천군">경상북도예천군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상북도봉화군">경상북도봉화군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상북도울진군">경상북도울진군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상북도울릉군">경상북도울릉군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
       
    </table>
    <table style="width: 100%;"> 
      <colgroup>
        <col width="55%" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
      </colgroup>    
      <tr class="header">
        <td>경상남도</td>
        <td>21</td>
        <td>0</td>
        <td>4</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상남도창원시">경상남도창원시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상남도창원시의창구">경상남도창원시의창구</a></td>
        <td>4</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상남도창원시성산구">경상남도창원시성산구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상남도창원시마산합포구">경상남도창원시마산합포구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상남도창원시마산회원구">경상남도창원시마산회원구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상남도창원시진해구">경상남도창원시진해구</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상남도진주시">경상남도진주시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상남도통영시">경상남도통영시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상남도사천시">경상남도사천시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상남도김해시">경상남도김해시</a></td>
        <td>17</td>
        <td>0</td>
        <td>4</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상남도밀양시">경상남도밀양시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상남도거제시">경상남도거제시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상남도양산시">경상남도양산시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상남도의령군">경상남도의령군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상남도함안군">경상남도함안군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상남도창녕군">경상남도창녕군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상남도고성군">경상남도고성군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상남도남해군">경상남도남해군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상남도하동군">경상남도하동군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상남도산청군">경상남도산청군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상남도함양군">경상남도함양군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상남도거창군">경상남도거창군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/경상남도합천군">경상남도합천군</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
       
    </table>
    <table style="width: 100%;"> 
      <colgroup>
        <col width="55%" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
        <col width="15%" style="font-size: smaller;" nowrap/>
      </colgroup>    
      <tr class="header">
        <td>제주특별자치도</td>
        <td>1</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/제주특별자치도제주시">제주특별자치도제주시</a></td>
        <td>1</td>
        <td>0</td>
        <td>0</td>
      </tr>
        
      <tr class="child" style="display: none">
        <td><a href="/apt/제주특별자치도서귀포시">제주특별자치도서귀포시</a></td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
    
    </table>
    <!-- end -->
</div>


<!-- <li>
    <a href="/실거래가/2021/03/20/41610.html">k</a>
</li> -->

{% endif %}

<hr>
{% if paginator.total_pages > 1 %}
<ul>

    {% if paginator.previous_page %}
        <li>
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
        </li>
    {% endif %}
    {% if paginator.next_page %}
        <li>
            <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
        </li>
    {% endif %}
</ul>
{% endif %}


<script>


    var total_update_count = 88;
    var total_update_new_high_price_sell = 28;
    var total_update_new_high_price_rent = 0;
    var total_update_new_high_price_resale = 1;
    var total_request_count = 742;
    var update_date = '2021/08/30';

    console.log(new Date().format("yyyy/MM/dd"));
    console.log(update_date);

    total_update_new_high_price = total_update_new_high_price_sell + total_update_new_high_price_rent + total_update_new_high_price_resale;

    document.getElementById('txt_total_update_count').innerText = "오늘 새로운 거래는 총 " + total_update_count + "건 입니다.";
    document.getElementById('txt_total_new_update_count').innerText = "그중에 신고가는 총 " + total_update_new_high_price + "건 입니다.";

    document.getElementById('txt_total_new_update_count_sell').innerText = "매매 신고가 " + total_update_new_high_price_sell + "건";
    document.getElementById('txt_total_new_update_count_rent').innerText = "전월세 신고가 " + total_update_new_high_price_rent + "건";
    document.getElementById('txt_total_new_update_count_resale').innerText = "전매 신고가 " + total_update_new_high_price_resale + "건";

    var target_date = '2021/05/20'

    function onSearchChanged() {
        var input = document.getElementById('search');
        var value = input.value;

        var regExp = /[\{\}\[\]\/?.,;:|\)*~`!^\-+<>@\#$%&\\\=\(\'\"]/gi;

        if (regExp.test(value)){
            var t = value.replace(regExp, "");
            value = t;
        }

        if (value.length < 1) {
            document.getElementById('search_list').innerHTML = '';
            return;
        }
        
        var options = '';

        for (var idx in code_table) {
            var item = code_table[idx];
            if(item.name.indexOf(value) != -1)  {
                options += "<a class='search_item' href='/apt/" + item.name.replace(/(\s*)/g, '') + "'>".concat(item.name, "</a>\n");
            }
        }

        // console.log(options);

        document.getElementById('search_list').innerHTML = options;

    }    
</script>
